@charset "UTF-8";

div#tv-radio {
	width: 900px;
	height: 600px;
	margin: auto;
	background: url("_imagens/radio-tv.png") no-repeat;
}

audio#musica {
	display: block;
	width: 280px;
	position: relative;
	left: 585px;
	top: 490px;
}

video#filme {
	display: block;
	width: 440px;
	position: relative;
	left: 90px;
	top: 70px;
}